.App{
  background-color: black;
  font-family: 'Montserrat', sans-serif;
font-weight: 700; /* Bold */
color: white;
}
h1{
text-transform: uppercase;
background-color: rgba(0, 0, 0, 0.5);

}
.nav-bar{
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
  list-style: none;
  position: fixed; 
  top: 0; 
  width: 100%; 
  z-index: 1000; 

}
.nav-bar::-ms-backdrop{
  background-color: rgba(0, 0, 0, 0.5);;
}
.nav-bar button{
  width: auto;
  height: auto;
  padding: 15px;
  background-color: transparent;
  color: white;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500; /* Bold */
  border-radius: 10px;

}

.nav-bar button:hover{
  background-color: white;
  color: black;
}
.action{

  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}
.action button{

  width: 100px;
  height: 50px;
  border-radius: 10px;
 background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700; /* Bold */
  margin: 20px;
}
.action button:hover{
  background-color: white;
  color: black;
  
}
.carousel-container {
  width: 100%;
  margin: auto;
}
.heading{
  margin: 20px;
}