.App{
  background-color: #234567;
  font-family: 'Montserrat', sans-serif;
/* font-weight: 400; Regular */
font-weight: 700; /* Bold */
}
h1{
text-transform: uppercase;
background-color: rgba(0, 0, 0, 0.5);

}
.nav-bar{
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  list-style: none;
  position: fixed; /* add this */
  top: 0; /* add this */
  width: 100%; /* add this */
  z-index: 1000; /* add this, optional */
  /* background-color: rgba(0, 0, 0, 0.5); */

}
.nav-bar::-ms-backdrop{
  background-color: rgba(0, 0, 0, 0.5);;
}
.nav-bar button{
  width: auto;
  height: auto;
  padding: 15px;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500; /* Bold */

}
.left {
  display: flex;
  flex-direction: row;
margin-left: 0;

}

.right {
  display: flex;
  flex-direction: row;
 margin-right: 0;
}

.left button, .right button {
  margin-right: 10px; /*  Add some spacing between buttons */
}
.nav-bar button:hover{
  background-color: white;
  color: black;
}
.action{

  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}
.action button{

  width: 100px;
  height: 50px;
  border-radius: 10px;
 background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700; /* Bold */
  margin: 20px;
}
.action button:hover{
  background-color: white;
  color: black;
  
}